*{
  font-family: arial, sans-serif;
}
h1{
  text-align: center;
}
h4{
  text-align: center;
}
.symbol1 {
  padding: 2%;
  width: 30%;
  margin: 0 auto
}
table{
margin: 0 auto;
border-collapse: collapse;
width: 60%;
}

.effective{
  font-size: 8pt;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 8%;
  display: inline;
}
th{
      background-color: #f2f2f2;
      padding: 8px;
      text-align: left;
}
.term{
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
}
